<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="/LIMPIAPP_logo.png" alt="LIMPIAPP Logo">
        </div>

        <form>
            <div class="input-group">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" placeholder="Escribir...">
            </div>

            <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Escribir...">
            </div>

            <button type="button" class="btn-primary" (click)="iniciarSesion()">
                <strong>Iniciar</strong>
            </button>
        </form>
    </div>
</div>