/* Layout general */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
    background-color: #d0f7f7; /* match page-container background */
  margin: 0;
  padding: 0;
}

app-navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 80px;
  flex: 1;
  width: 100%;
  background-color: #d0f7f7;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .content {
    padding: 0;
  }
}