<div class="navbar">
  <div class="navbar-content">
    <!-- Logo a la izquierda -->
    <div class="navbar-header">
      <div class="logo-icon">
        <img src="/LIMPIAPP_logo.png" alt="Logo">
      </div>
    </div>

    <!-- Navegación en el centro -->
    <nav class="navbar-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/principal" routerLinkActive="active" class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="nav-icon"><img src="/icon_registrado.svg" alt="Registrados"></span>
            <span class="nav-text">Pendientes/Rechazados</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/asignados" routerLinkActive="active" class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="nav-icon"><img src="/icon_asignado.svg" alt="Asignados"></span>
            <span class="nav-text">Asignados/Aceptados</span>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/finalizados" routerLinkActive="active" class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }">
            <span class="nav-icon"><img src="/icon_finalizado.svg" alt="Finalizados"></span>
            <span class="nav-text">Finalizados/Cancelados</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Botón de cerrar sesión a la derecha -->
    <div class="navbar-footer">
      <button class="profile-btn" (click)="abrirPerfil()">
        <img src="icon_perfil.svg" alt="perfil_icon">
      </button>
      <button class="logout-btn" (click)="cerrarSesion()">
        <span class="logout-icon"><img src="/logout.svg" alt="Logout"></span>
        <span class="logout-text">Cerrar Sesión</span>
      </button>
    </div>
  </div>
</div>