<div class="page-container">
  <h2>Solicitudes</h2>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Cliente</th>
          <th>Categoría</th>
          <th>Distrito de solicitud</th>
          <th>Estado</th>
          <th>Limpiador</th>
          <th>Fecha/hora</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes | async; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ solicitud.clienteNombres }} {{ solicitud.clienteApellidos }}</td>
          <td>{{ solicitud.categoriaServicio }}</td>
          <td>{{ solicitud.solicitudDistrito }}</td>
          <td>{{ solicitud.estado }}</td>
          <td>{{ solicitud.limpiadorNombres ? solicitud.limpiadorNombres : '' }} {{ solicitud.limpiadorApellidos ? solicitud.limpiadorApellidos : '' }}</td>
          <td>{{ solicitud.fechaHora!.toDate() | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <button (click)="abrirDialogVerAsignado(solicitud)">Ver detalle</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>